<!-- src/views/categories/new.ejs -->
<%- include('../partials/header', { title: 'Nova Categoria' }) %>

<div class="row">
  <div class="col-md-6 offset-md-3">
    <h1>Crear Nova Categoria</h1>
    <form action="/categories/create" method="POST">
      <div class="mb-3">
        <label for="name" class="form-label">Nom de la Categoria</label>
        <input type="text" class="form-control" id="name" name="name" required>
      </div>
      <button type="submit" class="btn btn-primary">Crear Categoria</button>
    </form>
  </div>
</div>

<%- include('../partials/footer') %>