<!-- src/views/index.ejs -->
<%- include('partials/header', { title: 'Projecte Motos' }) %>
  <h1>Benvingut al projecte Motos!</h1>
  <p>Aquesta és la pàgina d’inici, renderitzada amb EJS.</p>
<%- include('partials/footer') %>