<%- include('partials/header', { title: 'Inici' }) %>

    <div class="title-box">
        <h1>GESTOR<br>D'INCIDENCIES</h1>
    </div>

    <div class="action-buttons">
        
        <a href="/Incidencias">Veure Incidències</a>
        <a href="/Incidencias/new">Nova Incidència</a>
        <a href="/Actuacions">Gestionar Actuacions</a>
        <a href="/Departments">Gestionar departaments</a>
    </div>

<%- include('partials/footer') %>