<!-- src/views/index.ejs -->
<%- include('partials/header', { title: 'Inici' }) %>

    <div class="title-box">
        <h1>GESTOR<br>D'Incidencies</h1>
    </div>

    <div class="action-buttons">
        <a href="/incidencies">Veure Incidències</a>
        <a href="/incidencies/new">Nova Incidència</a>
        <a href="/actuacions">Gestionar Actuacions</a>
        <a href="/estadistiques/accessos">Estadístiques d'Accés</a> 
    </div>

<%- include('partials/footer') %>