</main> <!-- Tanca el main-content obert al header -->

<footer>
    <p>© 2025 Gestor d'Incidencies | <strong>Judit Sarrat</strong> i <strong>Enrique Cayo</strong></p>
</footer>

<!-- Aquí podries afegir scripts JS globals si fos necessari -->
</body>
</html>