<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> - Gestió Incidències</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" href="/inspedralbes_logo.png" type="image/png">
</head>
<body>

    <header class="page-header">
        <div class="header-title">
             <img src="/inspedralbes_logo.png" alt="Logo Institut Pedralbes" class="header-logo">
             <span class="header-institute-name">Institut Pedralbes</span>
        </div>
        <nav class="header-nav">
            <!-- Enllaços principals de navegació -->
            <a href="/">Inici</a>
            <a href="/incidencies">Incidències</a>
        </nav>
    </header>

    <main class="main-content">